# Build outputs
**/target/
**/build/

# Compiled artifacts
*.class
*.jar
*.war
*.ear

# IDE/editor noise
.idea/
.vscode/
.DS_Store

# Local override files
config/
app-boot/src/main/resources/application-local.yml.override
